  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./QuienSoy#quien">Quien</a></li>
          <li><a href="/TP_LAV4_2017/QuienSoy#que">Ques es</a></li>
          <li><a href="./QuienSoy#donde">Donde</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- First Container -->

  <div class="album py-5" id="uno">
    <div class="container">
      <div class="col-lg-4 mx-auto text-center" id="cartita">
        <img src="./assets/imagenes/yo.png" width="250" class="rounded-circle" alt="Cinque Terre">
        <h2>¿Quien Soy?</h2>
        <p>Soy Matías Ercolani alumno de la UTN FRA</p>
        <p><a class="btn btn-secondary" href="https://github.com/Quemero94" target="_blank" role="button">GitHub
            &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div>
  </div>

  <!-- Second Container -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="card-body mx-auto text-center" id="cartita">
        <h2>Sala de Juegos</h2>
        <p>Un salón de juegos es un establecimiento de juegos de azar que ofrece exclusivamente juegos de cartas al
          público. Generalmente, el término salón de póquer es sinónimo, dado que los juegos de azar que típicamente se
          juegan en tales establecimientos son variaciones de póquer como Texas hold 'em.

          Generalmente tales salones no ofrecen máquinas tragaperras o video póquer, o otras juegos de mesas como craps
          como se encuentran en casinos. Sin embargo, a menudo un casino utilizará el término "salón de juegos" o "salón
          de póquer" (usualmente el segundo) para referir a un salón distinto que ofrece juegos de cartas donde los
          jugadores típicamente competen el uno a los otros, en vez del casino. En los Estados Unidos, salones de juegos
          autónomos típicamente son el resultado de leyes o regulaciones locales o estatales, que a menudo prohíben los
          juegos de azar completos en casinos. Este fue el caso generalmente en California hasta el advento de juegos de
          azar en casino ofrecidos por los tribus de indios nativos durante los años 1990, aunque los salones de juegos
          continúan prosperando y aún expandir allí.</p>
        <p><a class="btn btn-secondary" href="https://github.com/Quemero94" target="_blank" role="button">Descargar PDFs
            &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div>
  </div>

  <!-- Third Container (Grid) -->
  <div class="album py-5 bg-dark" id="tres">
    <div class="card-deck px-md-5 ">
      <div class="card">
        <img src="./assets/imagenes/quiensoy1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tecnologia</h5>
          <p class="card-text">Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img src="./assets/imagenes/quiensoy2.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title">Experiencia</h5>
          <p class="card-text">Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto
            sea fluido y pensado
            en el comportamiento del usuario y en la funcionalidad.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img src="./assets/imagenes/quiensoy3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lideres</h5>
          <p class="card-text">Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://www.octavio.com.ar">www.octavio.com.ar</a></p>
  </footer>
