<app-cabecera> </app-cabecera>

<app-jumbotron titulo="Jugadores" subtitulo="Listado de Jugadores"></app-jumbotron>

<table class="table table-condensed">
  <thead class="bg-warning text-muted">
    <tr>
      <th>Alta</th>
      <th>Correo</th>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado | sortBy:'createdAt':'desc'">
      <td>{{jugador.createdAt}} </td>
      <td>{{jugador.mail}} </td>
      <td>{{jugador.name}} </td>
    </tr>
  </tbody>
</table>
<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<app-footer></app-footer>
