<div class="container-fluid">
  <!-- Demo content-->
  <div class="container margenes">
    <div class="row">
      <div class="col-lg-10 col-xl-7 mx-auto fondo">
        <br>
        <img src="./assets/imagenes/registrarse.png" class="img-fluid" alt="...">
        <br><br>
        <form [formGroup]="registerForm" (ngSubmit)="onRegistrar()">
          <div class="form-group mb-3">
            <input type="text" formControlName="email" placeholder="Correo"
              class="form-control rounded-pill border-0 shadow-sm px-4"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Debe ingresar email</div>
              <div *ngIf="f.email.errors.email">Email debe ser valido</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="password" formControlName="password" placeholder="Contraseña"
              class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Debe ingresar contraseña</div>
              <div *ngIf="f.password.errors.minlength">Debe contener al menos 6 caracteres</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="password" formControlName="confirmPassword" placeholder="Repetir contraseña"
              class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Debe ingresar contraseña nuevamente</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Las contraseña deben coincidir</div>
            </div>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" checked formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
              [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
            <label for="acceptTerms" class="form-check-label text-muted">Terminos y Condiciones</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Aceptar Terminos y Condiciones</div>
          </div>
          <button *ngIf="!isLoading" type="submit"
            class="btn btn-outline-warning btn-block text-uppercase mb-2 rounded-pill shadow-sm">Registrarse</button>
          <div *ngIf="isLoading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="text-center d-flex justify-content-between mt-4 text-muted">
            <p>Si ya tenes cuenta <a routerLink="/Login" class=" text-muted">
                <b>Iniciar Sesión</b></a></p>
          </div>
        </form>
        <!-- Alert OK-->
        <div #alertOk class="alert alert-dark d-none" role="alert">
          ¡Registrado! <a routerLink="/Login" class="alert-link">Incia sesión</a>
        </div>
        <!-- Alert ERROR-->
        <div #alertError class="alert alert-danger d-none" role="alert">
          ¡Error al procesar información!
        </div>
      </div>
    </div>
  </div>
