.fondo {
  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  border-radius: 24px 25px 0px 25px;
  -moz-border-radius: 24px 25px 0px 25px;
  -webkit-border-radius: 24px 25px 0px 25px;
  border: 0px dotted #000000;
  -webkit-box-shadow: 4px 3px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 21px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 21px -1px rgba(0, 0, 0, 0.75);
}

.margenes {
  margin-top: 10%;
}


.login,
.image {
  min-height: 100vh;
}
