<app-jumbotron titulo="Adivina el número" subtitulo="Adivina el numero del 1 al 100. Usa las pistas que te damos.">
</app-jumbotron>
<div class="contenedor">
  <img src="./assets/imagenes/heart.png" class="small" alt="...">
  <div id="countScore"><span>{{nuevoJuego.lifePlayer}}</span></div>
  <div id="canvas">
    <div id="words">
      <h1 class="question text-center">{{nuevoJuego.question}}</h1>
    </div>
  </div>
  <form id="control">
    <div>
      <input type="text" class="form-control" id="answer" name="answer" placeholder=""
        [(ngModel)]="nuevoJuego.userAnswer">
    </div><br> <br>
    <div>
      <button class="btn btn-info text-uppercase mb-2 rounded-pill shadow-sm" *ngIf="nuevoJuego.lifePlayer > 0"
        (click)="nuevoJuego.verificar()" id="submitbutton" style="margin-right: 10px">Responder</button>
      <button class="btn btn-info text-uppercase mb-2 rounded-pill shadow-sm" *ngIf="nuevoJuego.lifePlayer > 0"
        (click)="nuevoJuego.skipQuestion()">Siguiente</button>
    </div>

    <div *ngIf="nuevoJuego.lifePlayer === 0">
      <h1 class="question text-center">Perdiste :(</h1>
      <button class="btn btn-info text-uppercase mb-2 rounded-pill shadow-sm" (click)="newGame()">Jugar
        de nuevamente</button>
    </div>
    <h4 class="text-center">Puntos: {{nuevoJuego.scorePlayer}}</h4>
  </form>
</div>
<app-footer></app-footer>
